@charset "utf-8";
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;700&family=Noto+Sans:wght@400;700&display=swap');

/* reset */
* {margin:0; padding:0; box-sizing:border-box;}
html {font-size:100px;}
body {
    color:#333;
    font-size:0.16rem;
    font-family:'Noto Sans KR','Noto Sans','Malgun Gothic', sans-serif;
}
ul,li,dl,dt,dd {list-style:none;}
a {color:#333; text-decoration: none;}